In [1]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(2))
print (s)

0   -0.268720
1   -0.848493
dtype: float64

In [2]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(2))
print ("axes:")
print (s.axes)

axes:
[RangeIndex(start=0, stop=2, step=1)]

In [3]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(2))
print ("Object seems empty!!")
print (s.empty)

Object seems empty!!
False

In [4]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(3))
print (s)

print ("object dimensions :")
print (s.ndim)

0    1.260633
1    0.032166
2    0.422848
dtype: float64
object dimensions :
1

In [5]:
import pandas as pd
import numpy as np


s = pd.Series(np.random.randn(6))
print (s)
print ("object size:")
print (s.size)

0    0.301757
1   -0.222770
2    0.329942
3   -0.866967
4    0.680747
5   -0.319795
dtype: float64
object size:
6

In [6]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0   -1.426185
1    2.110601
2    0.417361
3   -0.241178
dtype: float64
The actual data series is:
[-1.42618461  2.11060083  0.41736065 -0.24117789]

In [7]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5))
print ("original series:")
print (s)

print ("first two rows:")
print (s.head(3))

original series:
0    1.586207
1   -0.975940
2   -1.161781
3    1.366889
4   -0.423311
dtype: float64
first two rows:
0    1.586207
1   -0.975940
2   -1.161781
dtype: float64

In [8]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(1))

The original series is:
0   -1.870837
1    1.607409
2    1.315717
3    0.019526
dtype: float64
The last two rows of the data series:
3    0.019526
dtype: float64

In [11]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([1,2,2,3,4,9,2]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print ("data series:")
print (df)

data series:
         Name  Age  Rating
0      Ananya    1    5.23
1       suman    2    1.32
2      rakesh    2    2.80
3       nishu    3    2.62
4   abhilasha    4    5.30
5     Shubham    9    4.60
6  ravisankar    2    1.30

In [12]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([1,2,3,4,2,3,3]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}

df = pd.DataFrame(d)
print ("transpose:")
print (df.T)

transpose:
             0      1       2      3          4        5           6
Name    Ananya  suman  rakesh  nishu  abhilasha  Shubham  ravisankar
Age          1      2       3      4          2        3           3
Rating    5.23   1.32     2.8   2.62        5.3      4.6         1.3

In [37]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([1,2,3,4,2,3,3]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [38]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([1,2,3,4,2,3,3]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print ("data types are:")
print (df.dtypes)

data types are:
Name       object
Age         int64
Rating    float64
dtype: object

In [39]:
import pandas as pd
import numpy as np
 
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([1,2,3,4,2,3,3]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
 
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [40]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([5,6,2,3,3,9,2]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print (df)
print ("The dimension of the object is:")
print (df.ndim)

         Name  Age  Rating
0      Ananya    5    0.23
1       suman    6    1.32
2      rakesh    2    2.80
3       nishu    3    2.62
4   abhilasha    3    5.30
5     Shubham    9    4.60
6  ravisankar    2    1.30
The dimension of the object is:
2

In [41]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([5,6,2,3,3,9,2]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print (df)
print ("The actual data in our data frame is:")
print (df.values)

         Name  Age  Rating
0      Ananya    5    0.23
1       suman    6    1.32
2      rakesh    2    2.80
3       nishu    3    2.62
4   abhilasha    3    5.30
5     Shubham    9    4.60
6  ravisankar    2    1.30
The actual data in our data frame is:
[['Ananya' 5 0.23]
 ['suman' 6 1.32]
 ['rakesh' 2 2.8]
 ['nishu' 3 2.62]
 ['abhilasha' 3 5.3]
 ['Shubham' 9 4.6]
 ['ravisankar' 2 1.3]]

In [42]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([5,6,2,3,3,9,2]),
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print (df)
print ("The first two rows of the data frame is:")
print (df.head(3))
print("default head values")
print (df.head())

         Name  Age  Rating
0      Ananya    5    0.23
1       suman    6    1.32
2      rakesh    2    2.80
3       nishu    3    2.62
4   abhilasha    3    5.30
5     Shubham    9    4.60
6  ravisankar    2    1.30
The first two rows of the data frame is:
     Name  Age  Rating
0  Ananya    5    0.23
1   suman    6    1.32
2  rakesh    2    2.80
default head values
        Name  Age  Rating
0     Ananya    5    0.23
1      suman    6    1.32
2     rakesh    2    2.80
3      nishu    3    2.62
4  abhilasha    3    5.30

In [43]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Ananya','suman','rakesh','nishu','abhilasha','Shubham','ravisankar']),
   'Age':pd.Series([5,6,2,3,3,9,2]), 
   'Rating':pd.Series([0.23,1.32,2.80,2.62,5.3,4.6,1.3])}
df = pd.DataFrame(d)
print (df)
print ("The last two rows of the data frame is:")
print (df.tail(2))

         Name  Age  Rating
0      Ananya    5    0.23
1       suman    6    1.32
2      rakesh    2    2.80
3       nishu    3    2.62
4   abhilasha    3    5.30
5     Shubham    9    4.60
6  ravisankar    2    1.30
The last two rows of the data frame is:
         Name  Age  Rating
5     Shubham    9     4.6
6  ravisankar    2     1.3

In [44]:
import pandas as pd
data = [1,20,34,64,52]
df = pd.DataFrame(data)
print (df)

    0
0   1
1  20
2  34
3  64
4  52

In [45]:
import pandas as pd
data = [['Ananya',16],['Abhilasha',3],['Swati',30]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

        Name  Age
0     Ananya   16
1  Abhilasha    3
2      Swati   30

In [46]:
import pandas as pd
data = [[' Ananya',16],['Abhilasha',3],['Swati',30]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

        Name  Age
0     Ananya   16
1  Abhilasha    3
2      Swati   30

In [47]:
import pandas as pd
data = {'Name':['Ananya','suman','rakesh','ravishankar'],'Age':[18,14,20,24]}
df = pd.DataFrame(data)
print (df)

          Name  Age
0       Ananya   18
1        suman   14
2       rakesh   20
3  ravishankar   24

In [48]:
import pandas as pd
data = {'Name':['Ananya','suman','rakesh','ravishankar'],'Age':[18,14,20,24]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

              Name  Age
rank1       Ananya   18
rank2        suman   14
rank3       rakesh   20
rank4  ravishankar   24

In [25]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [26]:
import pandas as pd
data = [{'a': 10, 'b': 2},{'a': 15, 'b': 19, 'c': 2}]

df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

         a   b
first   10   2
second  15  19
         a  b1
first   10 NaN
second  15 NaN

In [27]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [28]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([16, 25, 34, 43], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [29]:
import pandas as pd
de = {'one' : pd.Series([10, 22, 32,44], index=['a', 'b', 'c','d']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}


df = pd.DataFrame(de)
print (df['one'])

a    10
b    22
c    32
d    44
Name: one, dtype: int64

In [30]:
# Adding a new column to an existing DataFrame object with column label by passing new series

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print (df)

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['two']+df['three']

print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [31]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [32]:
import pandas as pd

d = {'one' : pd.Series([1, 3, 5], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    3.0
two    2.0
Name: b, dtype: float64

In [33]:
import pandas as pd

d = {'one' : pd.Series([1, 3, 5], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    5.0
two    3.0
Name: c, dtype: float64

In [34]:
import pandas as pd
d = {'one' : pd.Series([1, 3, 5], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  5.0    3
d  NaN    4

In [35]:
import pandas as pd
df = pd.DataFrame([[1, 3], [5, 7]], columns = ['a','b'])
df2 = pd.DataFrame([[9, 11], [13, 15]], columns = ['a','b'])
print (df)
print("after appending")
df = df.append(df2)
print (df)

   a  b
0  1  3
1  5  7
after appending
    a   b
0   1   3
1   5   7
0   9  11
1  13  15

In [36]:
#Deletion of Rows

import pandas as pd

df = pd.DataFrame([[1, 3], [5, 7]], columns = ['a','b'])
df2 = pd.DataFrame([[9, 11], [13, 15]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print (df)

    a   b
1   5   7
1  13  15